<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EMP</title>
<link rel="stylesheet" href="/currier/css/bootstrap.min.css">
<link rel="stylesheet" href="/currier/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/currier/css/templatemo-style.css">
</head>
<body>

	<div th:insert="header.html"></div>

	<div>
		<div>
			<figure class="effect-ming tm-video-item">
				<img src="/currier/img/img-03.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Pending</h2>
					<a href="/pendingList">View more</a>
				</figcaption>
			</figure>
		</div>s

		<div>
			<figure class="effect-ming tm-video-item">
				<img src="/currier/img/img-07.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>OrderList</h2>
					<a href="/order">View more</a>
				</figcaption>
			</figure>
		</div>

		<div>
			<figure class="effect-ming tm-video-item">
				<img src="/currier/img/img-05.jpg" alt="Image" class="img-fluid">
				<figcaption class="d-flex align-items-center justify-content-center">
					<h2>Details</h2>
					<a href="photo-detail.html">View more</a>
				</figcaption>
			</figure>
		</div>

	</div>

</body>
</html>